// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,200&display=swap');

// external libraries
@import '~bootstrap/scss/bootstrap.scss';

// custom css
@import './app.scss';
